    <div id="header">  
			<div id="logo">Frisk</div>
		</div>

		<div id="content">
			<div id="actions">
				<div id="add-task-toggle">+/- Tasks</div>

				<form id="add-task" style="display:none;">
					<input type="text" placeholder="New Task Name" />
					<textarea placeholder="New Task Description"></textarea>
					<input type="submit" value="Create Task"/>
				</form>

				<div class="vertical-spacer"></div>
				<form id="add-state">
					<input type="text" placeholder="New State Name" />
				</form>
			</div>

			<div id="state-container" class="ui-helper-clearfix"></div>
		</div>
    

<!-- TEMPLATES -->
<script type="javascript/template" id="state-template">
		<div class="frisk-state" data-id="${id}" data-title="${title}" data-order="${order}">
			<div class="title">${title}</div>
			<div class="remove"></div>
		</div>
</script>

<script type="javascript/template" id="task-template">
		<div class="frisk-task" data-id="${id}" data-title="${title}" data-detail="${detail}">
			<div class="title">${title}</div>
			<div class="detail">${detail}</div>
		</div>
</script>
