body {
	margin: 0;
	padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea, input[type="text"] {
	font-size: 13px;
	padding: 4px;
	border: 1px solid #777;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type="submit"] {
	margin: 0;
	cursor: pointer;
	height: 25px;
	line-height: 17px;
	padding: 4px;
	border: 1px solid #666;
	background-color: #2F7CBC;
	color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type="text"] {
	height: 30px;
	line-height: 30px;
}

a {
  color: #00B7FF;
}

div.vertical-spacer {
	min-height: 20px;
	clear: both;
}

div#header {
	width: 100%;
	background-color: #333;
	color: white;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-family: Helvetica,Verdana,sans-serif;
	padding-left: 8px;
}

div#content div#state-container {
	clear: both;
	width: 90%;
	margin: 10px auto;
	min-height: 150px;
}

div#actions {
	width: 90%;
	margin: 10px auto;
}

div#actions:after {
	content: "";
	display: block;
	clear: both;
	height: 10px;
}

div#content div.frisk-state {
	min-height: 200px;
	border: 1px solid #333;
	float: left;
	position: relative;
}

div#content div.frisk-state .remove {
	position: absolute;
	height: 30px;
	width: 30px;
	background-image: url(/images/sprites.png);
	background-repeat: no-repeat;
	top: -10px;
	right: 5px;
	cursor: pointer;
}

div#content div.frisk-state .title {
	border-bottom: 1px solid #333;
	background-color: #2F7CBC;
	color: white;
	text-align: center;
	padding: 5px 0;
	cursor: move;
}

#actions input,
#actions textarea {
	float: left;
	clear: both;
}
#actions input[type="text"],
#actions textarea {
	width: 220px;
}
#actions textarea {
	min-height: 150px;
}
#actions .vertical-spacer {
	min-height: 50px;
}
#actions #add-task-toggle {
	cursor: pointer;
	margin-bottom: 5px;
}
